h3= "Assessment for #{@opening_candidate.opening.title} Applicant: #{@opening_candidate.candidate.name}"

== render 'form'

= link_to 'Back', candidate_path(@opening_candidate.candidate, :anchor => "opening_candidate_#{@opening_candidate.id}_assessments")

