/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require jquery-ui-timepicker-addon
 *= require token-input
 *= require_self
 *= require_tree .
 */

.btn {                                                      
  margin: 0 2px 0 2px;                                      
}

.lastli {
  margin-bottom: 12px;
}

.align-to-title {
  margin: 10px 8px;
}

.home-title {
  margin: 0;
}

.sign-in {
  margin-left: 20px;
}

.full-input {
  width: 95%;
}

#login_div {
  margin-top: 8px;
}

#login_checkbox {
  margin: 0 5px 0 0;
}

div.form-horizontal .control-label {
  padding-top: 0;
}

.capitalized-text {
  text-transform: capitalize;
}
