// Place all the styles related to the StubDashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-group {
  border-style:solid;
  border-color: #000033;
  border-width:1px;
  padding: 3px 3px 3px 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.lightyellow_background {
  background-color: lightyellow;
}

